* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 22px;
}

h2 {
    margin-top: 30px;
}

.icon {
    color: black;
    width: 40px;
    height: 100%;
    margin: 0 5px;
}

.arrow {
    border-radius: 100%;
    background-color: #eee;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    top: 80px;
    margin: 0;
    padding: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,.3);
    cursor: pointer;
}

#previous {
    left: 10px;
}

#next {
    right: -10px;
}

#music-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

#music-container-container {
    position: relative;
    height: 200px;
    margin: 0 30px;
}

#music {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    z-index: 2;
    transition: margin-left 0.3s;
}

#music img {
    width:200px;
    height:200px;
    display: inline-block;
    z-index: 1;
}

#music-overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 100%;
    height: 200px;
    z-index: 5;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 100%);
    pointer-events: none;
}

#content {
    padding: 15px;
}